#locwrap_1006 {margin:0;padding:0;white-space:nowrap;display:block;line-height:normal;font-size:13px;}
#locwrap_1006 .loctt_1006 {padding-right:2px;font-family:NanumBarunGothic; font-size:13px; color:#333333;}
#locwrap_1006 .lochm_1006 {text-decoration:none;padding-right:2px;font-family:NanumBarunGothic; font-size:13px; color:#333333;}
#locwrap_1006 .locmn_1006 {text-decoration:none;padding-right:2px;font-family:NanumBarunGothic; font-size:13px; color:#333333;}
#locwrap_1006 .locsp_1006 {padding-right:2px;font-family:NanumBarunGothic; font-size:13px; color:#333333;}
#locwrap_1006 .loccr_1006 {font-family:NanumBarunGothic; font-size:13px; color:#333333;font-weight:bold;}
