@charset "utf-8";#head_1237 {position:relative;margin:0;text-align:center;font-size:0;padding:6px 5px 6px 5px;border-bottom:1px solid #dddddd;border-top:1px solid #dddddd;border-left:1px solid #dddddd;border-right:1px solid #dddddd;background-color:#ffffff;background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eeeeee));background: -moz-linear-gradient(top, #ffffff, #eeeeee);background: linear-gradient(to bottom, #ffffff, #eeeeee);filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorStr=#ffffff, endColorStr=#eeeeee) ;}
#head_1237 span, #head_1237 .head_link {display:block;text-align:center;font-size:20px;color:#555555;font-family:'Nanum Gothic';text-decoration:none;font-weight:bold;font-style:normal;text-shadow:0px 1px 0px #dddddd;}
#head_1237 img {vertical-align:top;}
#head_1237 div img {display:block;}
#head_1237 div {position:absolute;right:5px;top:25%;}
#notice_1237 {text-align:left;margin:0;padding:0;}
#notice_1237 ul {margin:0;padding:0;}
#notice_1237 li {position:relative;list-style:none;margin:0;padding:0;padding-bottom:7px; margin-bottom:7px;border-bottom:dotted 1px #eeeeee;}
.notice_1237 {margin:10px 0px 0px 0px;}
.notice_pad_1237 {padding-left:95px !important;}
.notice_1237 .notice_thumb {float:left; width:74px; position:relative; left:-95px; margin-right:-95px; overflow:hidden;}
.notice_1237 .notice_thumb {-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;padding:2px; display:block; border:solid 1px #eeeeee; text-align:center;}
.notice_1237 .notice_thumb img {max-width:74px;max-height:60px;display:block;}
.notice_1237 li.hilite .notice_thumb {border-color:#111111;}
@media screen and (max-width:550px) {.notice_pad_1237 {padding-left:47.5px !important;}
.notice_1237 .notice_thumb {width:37px; left:-47.5px; margin-right:-47.5px;}
.notice_1237 .notice_thumb img {max-width:37px;max-height:30px;}
}
.notice_1237 a {text-decoration:none}
.notice_1237 h3 {margin:0; padding:0;word-break:break-all;word-wrap:break-word;}
.notice_1237 h3 a {display:block;word-break:break-all;word-wrap:break-word;font-size:12px;color:#555555;font-family:_오성과한음B;font-weight:normal;font-weight:normal;font-style:normal;background:url(/image_bank/icon/dot/head_symbol_11.gif) no-repeat left center; padding-left:8px;}
.notice_1237 h3.notice a {font-size:px;color:;font-family:;font-weight:normal;font-style:normal;}
.notice_1237 h3 a:hover,.notice_1237 h3 a:focus,.notice_1237 li.hilite h3 a {color:#000000}
.notice_1237 h3 .cat {color:#1fbab7;margin-right:2px;font-family:_오성과한음B;font-weight:normal;font-weight:normal;font-style:normal;}
.notice_1237 .notice_etc {margin:0;position:absolute;right:0;top:-1px;}
.notice_1237 .notice_etc span {font-size:12px;color:#888888;font-family:_오성과한음B;font-weight:normal;font-style:normal;padding:0 0 0 .5em;}
.notice_1237 .notice_memo {margin:5px 0 0 0;word-break:break-all;word-wrap:break-word;padding-left:8px;}
.notice_1237 .notice_memo a {word-break:break-all;word-wrap:break-word;font-size:12px;color:#777777;font-family:_오성과한음B; line-height:120%; font-weight:normal;font-style:normal;}
.notice_1237 .notice_memo a:hover,.notice_1237 .notice_memo a:focus,.notice_1237 li.hilite .notice_memo a {color:#000000}
.notice_1237 .ozspeech {font-family:Tahoma,Geneva,sans-serif;font-size:11px;color:#ffffff;background-color:#b8b8b8; border:1px solid #b8b8b8;font-weight:normal;font-style:normal;}
.notice_1237 .ozspeech:before {border-color:transparent #b8b8b8 transparent transparent;}
.notice_1237 .ozspeech:after {border-color:transparent #b8b8b8 transparent transparent;}
