.banner_h1_43772 {margin:0;padding:0;}
.banner_text_43772 {display:block; zoom:1; font-family:Georgia,serif; font-size:30px; color:#3b3b8c; text-align:center; line-height:120%; border:none 5px #dddddd;font-weight:bold;padding:0px 0px 0px 0px;white-space:nowrap;}
.banner_text_43772 a {color:#3b3b8c;text-decoration:none;}
