#head_1200 {position:relative;margin:0;text-align:left;font-size:0;border-bottom:1px solid #dddddd;padding:6px 5px 6px 5px;border-top:1px solid #dddddd;border-left:1px solid #dddddd;border-right:1px solid #dddddd;background-color:#ffffff;background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eeeeee));background: -moz-linear-gradient(top, #ffffff, #eeeeee);background: linear-gradient(to bottom, #ffffff, #eeeeee);filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorStr=#ffffff, endColorStr=#eeeeee) ;}
#head_1200 span, #head_1200 .head_link {display:block;text-align:left;font-size:13px;color:#555555;font-family:'Nanum Gothic';text-decoration:none;font-weight:normal;font-style:normal;}
#head_1200 img {vertical-align:top;}
#head_1200 div img {display:block;}
#head_1200 div {position:absolute;right:5px;top:25%;}
#notice_1200 {text-align:left;padding:0;margin:0px 0px 0px 0px;overflow:hidden;}
#notice_1200 ul {padding:0;margin:0 -5px;}
#notice_1200 li{display:inline-block;*display:inline;*zoom:1;vertical-align:top;list-style:none;margin:0;padding:0;width:25%;text-align:center;}
#notice_1200 li div.each_item {margin:0 5px 10px 5px;border:none 1px #dddddd;padding:0px;}
#notice_1200 .keep_ratio {position:relative; padding:0px; margin:0 auto; display:inline-block;*display:inline;*zoom:1;vertical-align:top; border:none 0px #dddddd;}
#notice_1200 .notice_thumb {padding:0;margin:0;display:block;width:100%;}
.notice_1200 a {display:block;text-decoration:none}
.notice_1200 h3 {margin:0;padding:5px 0 0 0;word-break:keep-all;text-align:center;}
.notice_1200 h3 a {text-align:center;word-break:keep-all;font-size:12px;color:#1fbab7;font-family:'Nanum Gothic';font-weight:normal;font-weight:normal;font-style:normal;}
.notice_1200 h3 a:hover,.notice_1200 h3 a:focus {color:#000000}
