#locwrap_43879 {margin:0;padding:0;white-space:nowrap;display:block;line-height:normal;font-size:13px;}
#locwrap_43879 .loctt_43879 {padding-right:2px;font-family:'Nanum Gothic'; font-size:13px; color:#333333;font-weight:normal;}
#locwrap_43879 .lochm_43879 {text-decoration:none;padding-right:2px;font-family:'Nanum Gothic'; font-size:13px; color:#333333;font-weight:normal;}
#locwrap_43879 .locmn_43879 {text-decoration:none;padding-right:2px;font-family:'Nanum Gothic'; font-size:13px; color:#333333;font-weight:normal;}
#locwrap_43879 .locsp_43879 {padding-right:2px;font-family:'Nanum Gothic'; font-size:13px; color:#333333;font-weight:normal;}
#locwrap_43879 .loccr_43879 {font-family:'Nanum Gothic'; font-size:13px; color:#333333;font-weight:normal;}
