#hmenu_63 {position:relative;padding:0;margin:0;z-index:1001;display:inline-block;zoom:1;*display:inline;vertical-align:top;}
#hmenu_63 a {text-decoration:none;line-height:normal;}
#hmenu_63 img {vertical-align:bottom;}
#hmenu_63>li {position:relative; float:left;list-style:none; margin:0; padding:0;z-index:101;}
#hmenu_63>li>a {-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;display:block;text-align:center;overflow:hidden;white-space:nowrap;height:50px;font-size:18px;color:#333333;font-family:NanumBarunGothic;margin:0px 10px 0px 10px;padding:25px 25px 0px 25px;}
#hmenu_63>li>a.active, #hmenu_63>li>a.current, #hmenu_63>li>a:hover, #hmenu_63>li>a:focus {font-size:18px;color:#dd0000;font-family:NanumBarunGothic;}
#hmenu_63>li>ul {margin-top:0px !important;left:50% !important;right:auto !important;margin-left:-90px !important;}
#hmenu_63 ul {display:none;position:absolute;margin:0 0 0 0px;padding:30px 0 30px 0;z-index:1001;}
#hmenu_63 ul li {clear:both;position:relative;list-style:none; margin:0; padding:0;left:0;width:180px;}
#hmenu_63 ul a {display:block; overflow:hidden;font-family:NanumBarunGothic;text-align:center;white-space:normal;word-break:break-all;word-wrap:break-word;font-size:14px;color:#dddddd;margin:0 0px 0 0px;padding:5px 5px 5px 5px;}
#hmenu_63 ul a.active, #hmenu_63 ul a.current, #hmenu_63 ul a:hover, #hmenu_63 ul a:focus {font-family:NanumBarunGothic;font-size:14px;color:#dddd00;}
#hmenu_63 ul .arrow {background:url(/image_bank/icon/dot/menu_arrow_black.gif) no-repeat right center;}
#hmenu_63 ul ul {display:none; position:absolute;margin:0;top:-1px;left:180px;right:auto;border-top:none 1px #87bc43;z-index:1002;}
#hmenu_63 ul div.menu_line {display:none;}
#hmenu_63 li.noLava {width:0px; padding:0 10px; margin-top:25px;}
#hmenu_63 li.noLava div.menu_line {height:20px;border-left:solid 1px #dddddd;}
#hmenu_sbox {display:none;position:absolute;background-color:#424242;background-color:rgba(66,66,66,0.9);}
