#locwrap_165 {margin:0;padding:0;white-space:nowrap;display:block;line-height:normal;font-size:13px;}
#locwrap_165 .loctt_165 {padding-right:2px;font-family:NanumBarunGothic; font-size:13px; color:#333333;}
#locwrap_165 .lochm_165 {text-decoration:none;padding-right:2px;font-family:NanumBarunGothic; font-size:13px; color:#333333;}
#locwrap_165 .locmn_165 {text-decoration:none;padding-right:2px;font-family:NanumBarunGothic; font-size:13px; color:#333333;}
#locwrap_165 .locsp_165 {padding-right:2px;font-family:NanumBarunGothic; font-size:13px; color:#333333;}
#locwrap_165 .loccr_165 {font-family:NanumBarunGothic; font-size:13px; color:#333333;font-weight:bold;}
