#googlemap_5388 {border:solid 1px #cccccc;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;}
.gm-style .gm-style-iw {padding:5px;}
.gm-style .gm-style-iw>div>div {font-size:13px;line-height:1.2;}
