#googlemap_306 {border:solid 1px #cccccc;border-radius:9px;-moz-border-radius:9px;-webkit-border-radius:9px;}
.gm-style .gm-style-iw {padding:5px;}
.gm-style .gm-style-iw>div>div {font-size:13px;line-height:1.2;}
