.banner_h1_271 {margin:0;padding:0;}
.banner_text_271 {display:block; zoom:1; font-family:Georgia,serif; font-size:30px; color:#333333; text-align:center; line-height:120%; border:none 5px #dddddd;font-weight:bold;padding:0px 0px 0px 0px;white-space:nowrap;}
.banner_text_271 a {color:#333333;text-decoration:none;}
