.dropdown-menu {
    display: none;
}
.sample_card{
    padding:5px;
    background : white;
}
.square {
    float:left;
    position: relative;
    width: 100%;
    padding-bottom: 120%; /* = width for a 1:1 aspect ratio */
    overflow:hidden;
}
.content {
    background-color: white;
    position:absolute;
    height:85%; /* = 100% - 2*10% padding */
    width:100%; /* = 100% - 2*5% padding */
    padding: 0% 0%;
}
.content2 {
    bottom:0px;
    background-color: #ffffff;
    position:absolute;
    height:15%; /* = 100% - 2*10% padding */
    width:100%; /* = 100% - 2*5% padding */
    padding: 0% 0%;
    font-size:80%;
    padding:0px 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.mall-img{height:50%}
.mall-content{height:48%}
.sample_main{
    padding: 10px;
    display: block;
    overflow: hidden;
}
.content_main{
    padding: 10px;
    display: block;
    overflow: hidden;
}
.sample-button {
    max-height:40%;
    display:inline-block;
    position:absolute;
    bottom: 8px;
}
.btn-active,.btn-active:hover,.btn-active:focus {
    background : #99cc00;
    color : white;
}
.content-utils{
    background : #797979;
    border-radius: 50%;
    width:22px;
    height:22px;
    overflow:hidden;
    /*padding-top:2px;
    padding-left:2px;*/
    font-size: 15px;
}
.content-utils:hover,.content-utils:focus {
    background : #99cc00;
}
.content-utils img{
    margin : -1px 1px 1px 1px;
}
.btn-cont-active {
    background : #ddd;
    border : 1px solid #ddd;
}
.btn-cont-inactive {
    background : #fff;
    border : 1px solid #ddd;
}
.btn{
    border-radius : 10px;
}
.card-data {max-height:55%;}
.card-text {font-size:16px;}
.card-price {font-size:12px;height:20px}
.sample-text {height:48px;overflow-y:hidden}
.mall-btn-div{margin-top : 20px;}
.mall-desc{ font-size: 16px;height:20px;overflow:hidden}
.mall_btn{
    width : 100%;
    font-size : 14px;
    font-weight : bold;
    padding : 10px;
}
.mall_btn:hover,.mall_btn:focus{
    background:#99cc00;
    color:white;
}
@media only screen and (max-width: 650px) {
    .mall-btn-div{margin-top : 0px;}
}
@media only screen and (max-width: 580px) {
    .sample-button {font-size: 10px;}
    .content2 {font-size: 10px;padding:0px 5px;}
    .card-data {height:20px;}
    .square {padding-bottom:140%;}
    .mall-btn-div{margin-top : 0px;}
    .mall-desc{ font-size: 14px;height:18px;}
    .card-text {font-size:14px;}
    .card-price {font-size:10px;height:16px}
    .sample-text {height:42px;}
    .mall-img{height:50%}
    .mall-content{height:50%}
    .mall_btn{font-size : 14px;padding : 5px;}
}
@media only screen and (max-width: 464px) {
    .card-data {height:16px;}
    .content2 {font-size: 8px;}
    .sample-button {font-size: 8px;}
    /*.mall-btn-div{margin-top : 0px;}*/
    .mall-desc{ font-size: 12px;height:15px;}
    .content2 {padding:0px 5px;}
    .card-text {font-size:12px;}
    .card-price {font-size:9px;height:14px}
    .sample-text {height:36px;}
    .mall-img{height:50%}
    .mall-content{height:50%}
    .mall_btn{font-size : 12px;padding : 2px;}
}
@media only screen and (max-width: 367px) {
    /*.card-data {display:none}
    .content2 span {display:none}
    .content2 {text-align:center;height:30%}*/
    .sample-button {font-size: 12px;}
    /*.content{height:70%;}*/
    .mall-img{height:60%}
    .mall-content{height:45%}
    /*.mall-btn-div{margin-top : 10px;}*/
    .mall-desc{ font-size: 10px;height:12px;}
    .content2 {padding:0px 5px;}
    .card-text {font-size:11px;}
    .card-price {font-size:8px;height:12px}
    .sample-text {height:30px;}
    .sample-button {bottom: 15px;}
    .mall_btn{font-size : 10px;padding : 0px;}
}
.button-wrap .button{
    display: inline-block;
    width: 120px;
    margin: 0 5px;
    padding: 5px 0;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
}
.is-grey{
    background-color: #bbb;
}
.is-pink{
    background-color: #ff0066;
}
.button-wrap {
    margin-top: 30px;
    font-size: 0;
    text-align: center;
}
.card-input{
    font-size: 14px;
    background-color: #ffffff !important;
    border:1px solid #999;
}
.pagination ul li > * {
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    font-size: 12px;
    line-height: 18px;
    color: #000;
    text-align: center;
    border-radius: 50%;
    margin: 3px;
}
.pagination ul li.active > * {
    background-color: #262626;
    color: #fff;
}
.pagination ul li {
    margin-left: -1px;
    display: inline-block;
}
.J_card_num.title{
    border:2px solid #000;
    background:#222222;
    color:white;
    /* width: 160px !important;
    margin-right: 5px; */
    height:30px;
    margin-bottom: 5px;
    display: block;
    text-decoration: none;
    color: #333;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-top: 3px;
}
.mypage_list { 
    position: relative; 
    padding: 10px 5px; 
    /*background-color: #e5e5e5; */
    border-radius: 1px; 
    font-size: 14px; 
    font-weight: 500; 
    line-height: 20px; 
}
.mypage_list:after { content: '\f105'; position: absolute; top: 50%; right: 20px; font-family: 'Fontawesome'; font-size: 16px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.people_iam{
    font-size:15px;
    background-color:#ffffff;
    border : 1px solid #dddddd;
}
.people_iam:hover{
    background-color:#e1d6d6;
}
.people_iam.settlement_btn{
    width:30%;
}
#point_show_share{
    background-color:#ffffff;
    border : 1px solid #dddddd;
    width:30%;
    text-align:center;
    font-size: 15px;
}
.get_type_name{
    text-align:left;
    display:flex;
    justify-content: space-around;
}
.iam_table{
    border: 1px solid black;
    border-collapse: collapse;
    padding:3px;
    text-align: center;
}
.settle_way{
    font-size: 17px;
    color: #000000;
    margin-left:7px;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor:pointer;
}
.movie_play{
    position: absolute;
    z-index: 50;
    left: 45%;
    width: 100px;
    top: 45%;
}
.buy_servicecon{
    background: blue;
    color : black;
    top:37px;
    text-align:center;
    min-width:0px;
    left:-40px !important;
}
.user-name.pin-mode{
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
    width: 270px;
    overflow: hidden;
    text-overflow: clip;
    /*height: 40px;*/
}

@media only screen and (max-width: 420px) {
    .get_type_name{
        column-count: 3;
        text-align:center;
    }
    .movie_play{
        width:50px;
    }
    .user-name.pin-mode{
        font-size: 13px;
        text-align: left;
        margin-top: auto;
        margin-bottom: auto;
        width: 70px;
        overflow: hidden;
        text-overflow: clip;
        /*height: 35px;*/
    }
}
.group-card-sample{
    width:95%;
    height:95%;
    margin:5px;
    border-radius : 5px;
    position:relative;
    overflow: hidden;
}

#ajax-loading{position:fixed;top:0;left:0;width:100%;height:100%;z-index:9000;text-align:center;display:none;background-color: #fff;opacity: 0.8;}
#ajax-loading img{position:absolute;top:50%;left:50%;width:120px;height:120px;margin:-60px 0 0 -60px;}
#tutorial-loading{position:fixed;top:0;left:0;width:100%;height:100%;z-index:150;text-align:center;display:none;background-color: grey;opacity: 0.7;}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
input, select, textarea {
    vertical-align: middle;
    border: 1px solid #CCC;
    height:44px;
    border-radius:8px;
    padding:10px 14px;
}
user agent stylesheet
input[type="checkbox" i] {
    background-color: initial;
    cursor: default;
    -webkit-appearance: checkbox;
    box-sizing: border-box;
    margin: 3px 3px 3px 4px;
    padding: initial;
    border: initial;
}
input:checked + .slider {
    background-color: #2196F3;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.auto_switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.step_switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.auto_switch_copy input {
    opacity: 0;
    width: 0;
    height: 0;
}
.auto_switch_copy {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.reserv_btn {
    border: 1px solid;
    padding: 5px;
    color: white;
    background-color: #82c736;
}
input:checked + .slider {
    background-color: #2196F3;
}
.slider.round {
    border-radius: 34px;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.slider.round:before {
    border-radius: 50%;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
.color-chips .tooltiptext-bottom {
    width: 200px;
    font-size:15px;
    background-color: white;
    color: black;
    text-align: left;
    border-radius: 6px;
    padding: 12px;
    position: absolute;
    z-index: 200;
    top: 150%;
    left: 45%;
    margin-left: -60px;
    cursor: pointer;
    border:3px solid grey;
    box-shadow: 5px 7px 5px 0px #524e4e;
}

/* .color-chips .tooltiptext-bottom::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: #FFE45B transparent transparent transparent;
} */

.tooltiptext {
    width: 210px;
    background-color: white;
    color: black;
    font-size:15px;
    text-align: left;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 200;
    top: 20px;
    right: 10%;
    border:3px solid grey;
    box-shadow: 5px 7px 5px 0px #524e4e;
}

/* .controls .tooltiptext::after {
    content: "";
    position: absolute;
    top: 25%;
    left: 100%;
    margin-top: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent transparent #FFE45B;
} */

.tooltiptext-bottom-con {
    width: 205px;
    background-color: white;
    color: black;
    font-size:15px;
    text-align: left;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 200;
    top: 88%;
    right: 60%;
    cursor:pointer;
    border:3px solid grey;
    box-shadow: 5px 7px 5px 0px #524e4e;
}

/* .wish_card .tooltiptext-bottom-con::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #FFE45B transparent;
} */

.listmode {
    position: absolute;
    right: 235px;
    top: 8px;
}

.install_down {
    width: 30%;
    background-color: #ff0066;
    color: #ffffff;
}

.install_won {
    width: 30%;
    background-color: #ff0066;
    color: #ffffff;
}

.install_iam {
    width: 30%;
    background-color: #bbbbbb;
    color: #ffffff;
}

.ai_trans_vis_con{
position: absolute;
right: 5px;
top: 5px;
}

.ai_trans_vis_con_sort{
position: absolute;
right: 10px;
top: 5px;
}

.gwc_contents_type{
position: absolute;
right: 10px;
top: 5px;
}

.ai_tran_vis_con{
background-color: #f5f5f5;
border-color: #ddd;
position:relative;
}

.buy_service_con{
background:blue !important;
cursor:pointer !important;
font-size: 16px !important;
}

.buy_service_card{
font-size: 15px !important;
background-color:blue !important;
}

.buy_service_point{
font-size: 15px !important;
background-color:blue !important;
}

@media only screen and (max-width: 720px) {
    .install_down {
        width: 60%;
        background-color: #ff0066;
        color: #ffffff;
        margin-top:5px;
        margin-left:0px !important;
    }

    .install_won {
        width: 60%;
        background-color: #ff0066;
        color: #ffffff;
        margin-top:5px;
        margin-left:0px !important;
    }

    .install_iam {
        width: 60%;
        background-color: #bbbbbb;
        color: #ffffff;
        margin-top:5px;
        margin-left:0px !important;
    }
.ai_trans_vis_con{
    position: absolute;
    right: 10px;
    bottom: 10px;
    top:auto;
    /* padding: 0 0 10px 10px; */
}
.ai_trans_vis_con_sort{
    position: absolute;
    right: 10px;
    bottom: 10px;
    top: auto;
}
.gwc_contents_type{
    position: absolute;
    right: 10px;
    bottom: 10px;
    top: auto;
}
.ai_tran_vis_con{
    background-color: #f5f5f5;
    border-color: #ddd;
    position:relative;
    height:90px;
}
.buy_service_con{
    background:blue !important;
    cursor:pointer !important;
    font-size: 14px !important;
}
.buy_service_card{
    font-size: 12px !important;
    background-color:blue !important;
}
.buy_service_point{
    font-size: 12px !important;
    background-color:blue !important;
}
}

@media only screen and (max-width: 450px) {
    .tooltiptext-bottom-con {
        top: 85%;
        right: 40%;
    }
    .listmode {
        position: absolute;
        right: 33%;
        top: 8px;
    }
}
.profile_font{
    font-size:10px
}
@media only screen and (max-width: 450px) {
    .profile_font{
        font-size:8px
    }
}
.post_content,.post_reply_content{
    border-radius : 15px;
    background:#dddddd;
    border : none;
    padding-left:10px;
    padding-top:8px;
}
.navermap{
   cursor: pointer;
}

/* .btmbanner_list {
background-color: #f8f8f9;
} */
.btmbanner_list .area_right {
position: relative;
overflow: hidden;
height: 40px;
padding: 0 60px 0 45px;
}
.btmbanner_list .area_right .btmbr_list {
position: relative;
overflow: hidden;
height: 100%;
}
.btmbanner_list .area_right .btmbr_list .btmbrl_obj {
position: relative;
width: 200%;
height: 100%;
}
.btmbanner_list .area_right .btmbr_list .btmbrl_obj .btmbrl_item {
float: left;
height: 100%;
padding-top: 6px;
}
.btmbanner_list .area_right .btmbr_list .btmbrl_obj .btmbrl_item a {
position: relative;
display: block;
height: 100%;
padding: 0 23px;
}
.btmbanner_list .area_right .btmbr_ctlbtns {
position: absolute;
top: 0;
left: 0;
width: 100%;
}
.btmbanner_list .area_right .btmbr_ctlbtns a {
position: absolute;
top: 12px;
width: 14px;
height: 23px;
background: no-repeat 0 0;
}
.btmbanner_list .area_right .btmbr_ctlbtns .ctl_prev {
left: 15px;
background-image: url(/iam/img/btn_slide_pre.png);
}
.btmbanner_list .area_right .btmbr_ctlbtns .ctl_next {
right: 25px;
background-image: url(/iam/img/btn_slide_next.png);
}

/*인기탭*/
/* .btmbanner_list1 {
background-color: #f8f8f9;
} */
.btmbanner_list1 .area_right1 {
position: relative;
overflow: hidden;
height: 40px;
padding: 0 60px 0 45px;
}
.btmbanner_list1 .area_right1 .btmbr_list1 {
position: relative;
overflow: hidden;
height: 100%;
}
.btmbanner_list1 .area_right1 .btmbr_list1 .btmbrl_obj1 {
position: relative;
width: 200%;
height: 100%;
}
.btmbanner_list1 .area_right1 .btmbr_list1 .btmbrl_obj1 .btmbrl_item1 {
float: left;
height: 100%;
padding-top: 7px;
}
.btmbanner_list1 .area_right1 .btmbr_list1 .btmbrl_obj1 .btmbrl_item1 a {
position: relative;
display: block;
height: 100%;
padding: 0 23px;
}
.btmbanner_list1 .area_right1 .btmbr_ctlbtns1 {
position: absolute;
top: 0;
left: 0;
width: 100%;
}
.btmbanner_list1 .area_right1 .btmbr_ctlbtns1 a {
position: absolute;
top: 12px;
width: 14px;
height: 23px;
background: no-repeat 0 0;
}
.btmbanner_list1 .area_right1 .btmbr_ctlbtns1 .ctl_prev1 {
left: 15px;
background-image: url(/iam/img/btn_slide_pre.png);
}
.btmbanner_list1 .area_right1 .btmbr_ctlbtns1 .ctl_next1 {
right: 25px;
background-image: url(/iam/img/btn_slide_next.png);
}

.recom_like_tab{
/* column-count:2; */
display:flex;
background-color: #f5f5f5;
padding: 10px 0px;
}

#callya_sort{
border-color: #ddd;
/* margin-left: 45%;
max-width: 80%; */
}

.mypage_menu{
justify-content: space-between;
width:50%;
margin-left:50%;
}

.cate_list_div{
padding: 10px;
display: inline-block;
width:33%;
vertical-align: top;
}

.cate_list_title{
margin-bottom: 10px;
border-bottom: 1px solid lightgrey;
}

@media only screen and (max-width: 720px) {
.cate_list_div{
    padding: 10px;
    display: inline-block;
    width:48%;
    vertical-align: top;
}
}

@media only screen and (max-width: 550px) {
.cate_list_div{
    padding: 10px;
    display: inline-block;
    width:90%;
    vertical-align: top;
}
}

@media only screen and (max-width: 620px) {
.recom_like_tab{
    /* column-count:1; */
    background-color: #f5f5f5;
    padding: 10px 0px;
}

#callya_sort{
    border-color: #ddd;
    /* margin-left: 20%;
    max-width: 80%; */
}

.mypage_menu{
    justify-content: space-between;
    width:100%;
    margin-left:0%;
}
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
opacity:1;
}

.paper_list{
width:30%;
display: inline-block;
margin: 7px;
}

@media only screen and (max-width: 450px) {
.paper_list{
    width:45%;
    display: inline-block;
    margin: 7px;
}
}

.cont_edit_title{
padding: 8px;
border: 1px solid grey;
}

.cont_edit_title_div{
display: flex;
}

#product_code{
width: 77% !important;
font-size: 12px;
}

#product_model_name{
width: 57% !important;
font-size: 12px;
}

#product_seperate{
width: 77% !important;
font-size: 12px;
}

.gwc_products_iamstore{
position: absolute;
top: 12px;
left: 350px;
right: unset;
}

@media only screen and (max-width: 450px) {
#product_code{
    width: 50% !important;
    font-size: 12px;
}

#product_model_name{
    width: 26% !important;
    font-size: 12px;
}

#product_seperate{
    width: 65% !important;
    font-size: 12px;
}
.gwc_products_iamstore{
    position: absolute;
    top: 12px;
    right: 5px;
    left: unset;
}
}
.chat_btn{
color: white;
border-radius: 7px;
background-color: red;
font-size: 15px;
padding: 5px 20px;
float: right;
margin-right: 17px;
}
#answer_side, #answer_side1, #answer_side2{
width: 90%;
height: 400px;
background-color: white;
margin-right: auto;
margin-left: auto;
border-radius: 10px;
margin-top: 12px;
padding: 35px 30px 10px 30px;
overflow: auto;
text-align: left;
position: relative;
}
.search_keyword {
position: relative;
width: 88%;
margin: 0 auto;
margin-top: 10px;
}
.search_keyword textarea {
width: 99%;
height: 58px;
padding: 17px 60px 0 25px;
border-width: 0;
border-radius: 15px;
border: 2px solid transparent;
background-color: #fff;
outline-width: 0;
box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
-webkit-transition: border-color 1000ms ease-out;
transition: border-color 1000ms ease-out;
}
.send_ask{
position: absolute;
top: 0;
right: 0;
width: 58px;
height: 98%;
left: 90%;
background-color:white;
border-radius:20px;
}
#gpt_req_list_title{
float: left;
padding: 7px;
margin-left: 40px;
background-color: #f18484;
border-radius: 10px;
}
.history{
position: absolute;
top: 5px;
left: 80px;
}
.gpt_act{
position: relative;
height: 35px;
}
.newpane, .newpane:hover{
background-color: black;
color: white;
padding: 4px;
border-radius: 10px;
position: absolute;
top: 5px;
right: 80px;
}
@media only screen and (max-width: 720px) {
.send_ask{
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 98%;
    left: 90%;
    background-color:white;
    border-radius:20px;
}
}
@media only screen and (max-width: 600px) {
.send_ask{
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 98%;
    left: 88%;
    background-color:white;
    border-radius:20px;
}
.chat_btn{
    color: white;
    border-radius: 7px;
    background-color: red;
    font-size: 15px;
    padding: 5px 20px;
}
}
@media only screen and (max-width: 450px) {
.send_ask{
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 98%;
    left: 85%;
    background-color:white;
    border-radius:20px;
}
.history{
    position: absolute;
    top: 5px;
    left: 35px;
}
.newpane{
    background-color: black;
    color: white;
    padding: 4px;
    border-radius: 10px;
    position: absolute;
    top: 5px;
    right: 40px;
}
.chat_btn{
    color: white;
    border-radius: 7px;
    background-color: red;
    font-size: 15px;
    padding: 5px 20px;
}
}
.chat_answer{
word-break: break-all;
word-wrap: break-word;
white-space: pre-wrap;
}
.article-title{
border-bottom: 1px solid lightgrey;
margin-bottom: 15px;
}
.article-content{
display: grid;
margin-bottom: 15px;
}
.hided{
display: none;
}
.copy_msg{
position: absolute;
right: 10px;
top: 10px;
}
.modal-title{
border-top-left-radius:12px;
border-top-right-radius:12px;
background:#99cc00;
color:white;
width:100%;
font-size:16px;
text-align: center;
height:52px;
}
.modal-title label{
margin-top : 15px;
}
button.close{
margin-top: 14px;
margin-right: 10px;
}
img.close{
width:24px;
}
.modal-footer{
border-bottom-left-radius:12px;
border-bottom-right-radius:12px;
height:45px;
display:flex;
padding:0px;
}
.modal-header{
border-top-left-radius:12px;
border-top-right-radius:12px;
}
.btn-left{
    border-radius:0px 0px 0px 12px !important;
    width:50%;
}
.btn-right{
border-radius:0px 0px 12px 0px !important;
width:50%;
margin-left:0px !important;
}
.popup-bottom{
border-radius: 0px 0px 12px 12px !important;
}

.d-flex {
    display: flex;
}

#gwc_order_option dl {
    margin-bottom: 12px;
    display: flex;
    align-items: center;
}

#gwc_order_option dt {
    width: 20%;
}

#gwc_order_option dd {
    width: 70%;
}

#gwc_order_option select {
    height: auto;
    padding: 3px 10px;
    font-size: 13px;
    border-radius: 2px;
    width: 100%;
}

.gwc_order_option_number {
    padding: 0 15px 0 15px;
}

.gwc_order_option_number_title {
    width: 155px;
    text-align: center;
}

.gwc_order_option_number_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 3px;
    padding-top: 3px;
}

.gwc_order_option_number_row i{
    background-color: lightgrey;
    padding: 5px;
    font-size: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.gwc_order_option_number_row div {
    display: flex;
    align-items: center;
}

.gwc_order_option_number_row input {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    height: 30px;
    width: 30px;
    font-size: 12px;
}

.remove_option {
    cursor: pointer;
    font-size: 25px;
    margin-left: 10px;
}