#middle-nav { border-top: 1px solid #ccc; border-bottom: 2px solid #ccc; margin:0px 5px 5px;padding: 10px 5px 5px; }
#middle-nav ul { font-size: 0; text-align: left; }
#middle-nav .nav-item a { display: inline; font-size: 0; padding: 0 3px; }
#middle-nav .nav-item .icon { display: inline; font-size: 0; }
#middle-nav .nav-item .icon img { max-width: 30px; }
#middle-nav .nav-item .text { display: inline; margin-top: 0px; font-size: 13px; font-weight: 500; line-height: 25px; } 
#middle-nav .nav-item .right { position: absolute; display: inline-flex;transform: translate(-60px, 10px);background: white;float: right;  }					
#middle-nav .nav-item .right .icon { display: block; width: 27px; height: 27px; background: no-repeat center; }

#middle-nav .nav-item .right .icon.msms { background-image: url(img/star/icon-msms.PNG); -webkit-background-size: 27px 20px; background-size: 27px 20px; }
#middle-nav .nav-item .right .icon.sms { background-image: url(img/star/icon-sms.png); -webkit-background-size: 27px 20px; background-size: 27px 20px; }
#middle-nav .nav-item .right .icon.instar { background-image: url(img/star/icon-instar.png); -webkit-background-size: 27px 27px; background-size: 27px 27px; }
#middle-nav .nav-item .right .icon.facebook { background-image: url(img/star/icon-facebook.png); -webkit-background-size: 27px 27px; background-size: 27px 27px; }
#middle-nav .nav-item .right .icon.kakao { background-image: url(img/star/icon-kakao.png); -webkit-background-size: 27px 24px; background-size: 27px 24px; }
#middle-nav .nav-item .right .icon.share { background-image: url(img/star/icon-share.png); -webkit-background-size: 20px 26px; background-size: 20px 26px; }

#middle-nav{
	background:#2e2e2e;
}
.dropdown-menu {
	position: absolute;
	right: 0 !important;
	left: -150px !important;
}
.btn-page {
	width: 200px;
}
.bold {
	font-weight: 700;
}
#contents_add_modal input[type="text"] {
	border: 1px solid #b5b5b5;
	height: 30px;
	padding-left: 10px;
	width: 100%;
}
#contents_add_modal textarea {
	border: 1px solid #b5b5b5;
	height: 30px;
	padding-left: 10px;
	width: 100%;
	min-height: 150px;
	overflow: auto;
	resize: none;
	padding: 10px;
}
.table-bordered>tbody>tr>td {
	border: 1px solid #ddd;
}
.nav-item {
	width: 25%;
	text-align: center;
}
.nav-tabs>li.active>a {
	border: 1px solid #aaa;
	border-bottom-color: transparent;
}
.nav-tabs {
	border-bottom: 1px solid #aaa;
}

.nav-tabs>li>a:hover {
	border-color: #eee #eee #aaa
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
	color: #555;
	cursor: default;
	background-color: #fff;
	border: 1px solid #aaa;
	border-bottom-color: transparent
}
ul li {
	cursor: pointer;
}
.develop
{
	display:none;
}
.pagination {
	display: block!important;
	text-align: center;
}
.container.J_elem {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
}
#middle-nav {
    border-top: 1px solid #ccc;
    border-bottom: 2px solid #ccc;
    margin: 0px ;
    padding: 0px 5px 5px;
}
/*Search bar */
.J_header_search{
	position: absolute;
    right: 60px;
	top: 10px;  
	z-index: 200;
}
.J_header_language{
    position: absolute;
    right: 90px;
    top: 10px;
    z-index: 200;
}
.popup_box2
{
	margin-left: -160px;
}
.popup_box1
{
    margin-left: -160px;
}

#middle-nav .nav-item { display: inline-block; width: 15%; }

.btn.J_header_dropdown_1 {
    border-radius: 0px!important;
    width: 47px;
    height: 47px;
    padding: 0px;
    margin: -1px -1px 0px 0px;
    position: relative; right: -6px;
    
}
#header .inner-wrap {
    position: relative;
    padding: 10px 0;
    height: 40px;
}
.dropdown.J_header_1{
	position: absolute; right: 0px; top: 70px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #fff!important;
    background-color: rgb(5, 1, 1)!important;
    border-radius: 0px!important;
}
#myTab{background: #eee;}
#myTab li a{color:black;}
#star #middle {margin-top:0px;border-top: 0px solid #eaeaea;}

#star #middle .tab-content .tab-pane#profile .box-body .inner .profile-card {
    font-size: 20px;
    background: rgb(255, 255, 255);
}

.profile-card .formBox .input-style {
    font-size: 18px;
    font-weight: bold;
    background: #eeeeee;
}

.profile-card .formBox input {
    background: #eee;
}

.J_card_num.circle
{
	border-radius: 50%;
	border:2px solid #000;
	background:white;
	color:#222222;
	width:20px;
	height:20px;
}
.J_card_num.rect
{
    border:2px solid #000;
    background:white;
    color:#222222;
    width:20px;
    height:20px;
}
.J_card_num.title
{
    border:2px solid #000;
    background:#222222;
    color:white;
    width:150px;
    height:30px;
    margin-bottom: 5px;
}
#star #middle .tab-content .tab-pane#profile .box-body .inner .utils .left .color-chips a {
    /*width: 20px;
	height: 20px;*/
	font-weight: 700;
}
#star #middle .tab-content .tab-pane#profile .box-body .inner .utils .left {
    float: left;
    width: 95%;
}

.profile-card .box {
    width: 100%;
    margin: 0 auto;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 3px 5px 8px 0px #888;
    position: relative;
}
.J_card_number
{
	color:#83c837;
}


.J_card_number:hover
{
	color:#07a536;
}

.J_card_name{font-weight: 700;}
.J_card_company{
	font-size: 16px;
	color:rgb(107, 103, 103);
	padding-top:-5px;
}
.J_card_description{
    font-weight: bold;
    font-size: 14px;
    color:#000;
}
.J_card_address{
    font-weight: bold;
    font-size: 14px;
    color:black;
    padding-top:-25px;
}
.J_card_email{
    font-weight: bold;
    font-size: 14px;
    color:black;
    padding-top:-5px;

}
.profile-card .formBox {padding: 25px 0 0 0;}
.J_middle_button{
	height: 40px;
    border-radius: 0px;
    padding-top: 20px;
	font-size: 18px;
}
#star #middle .tab-content .tab-pane .box-footer .inner .bottom .buttons {
    display: inline-block;
    width: -webkit-calc( 33% - 6px );
    width: calc( 33% - 6px );
    margin: 0 10px 0 0;
    padding: 5px 0;
    background-color: #ff8d1b;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
	height: 80px;
    border-radius: 10px;
    padding-top: 30px;
	font-size: 16px;
	font-weight: bold;
}
#star #middle .tab-content .tab-pane .box-footer .inner .bottom .buttons.lightgreen {
    background-color: #82c836;
}

#star #middle .tab-content .tab-pane .box-footer .inner .bottom .buttons.pink {
    background-color: #e7078d;
}

#star #middle .tab-content .tab-pane#story .box-body .inner .story-item .title:before {
    background-color: #fff;
}

#star #middle .tab-content .tab-pane#story .box-body .inner .story-item .title {
    position: relative;
    margin-bottom: 20px;
    font-size: 17px;
    font-weight: 700;
}
#star #middle .tab-content .tab-pane#story .box-body .inner .story-item .content {
    font-size: 14px;
    line-height: 24px;
}
#star #middle .tab-content .tab-pane#story .box-body .inner .story-item .title .text {
    position: relative;
    z-index: 2;
    padding-bottom: 10px;
    /* margin-bottom: 10px; */
    border-bottom: 1px solid;
}
#star #middle .tab-content .tab-pane#story .box-body .inner .story-item .content {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 40px;
}

#star #middle .tab-content .tab-pane .contact-list .list-item {
    padding: 10px 15px;
    border: 1px solid #eee;
    margin-top: 5px;
    margin-bottom: 5px;
    background: rgb(251,251,251);
}

#star #middle .tab-content .tab-pane .contact-list .list-item:hover {
    border: 1px solid #ff006e;background: #fff7fa;
}

#star #middle .tab-content .tab-pane .box-body .inner .pagination ul li > * {
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    font-size: 12px;
    line-height: 18px;
    color: #000;
    text-align: center;
    border-radius: 50%;
    margin: 3px;
}
#star #middle .tab-content .tab-pane .box-body .inner .pagination ul li.active > * {
    background-color: #262626;
    color: #fff;
}

.iconhomeblack {
    width: 20px;
    height: 20px;
    object-fit: contain;
    margin-left: 28px;
}

.iconperson {
	width: 26px;
	height: 26px;
	object-fit: contain;
  }
.nav-item.top.active{background:#82c836;}
#middle-nav {
    border-top: 0px solid #2e2e2e;
    border-bottom: 0px solid #2e2e2e;
    margin-right: 0px;
	padding: 0px;
    height:45px;

}
#middle-nav ul {
    font-size: 0;
    text-align: left;
    margin: 0px;
}

#middle-nav .nav-item {
    display: inline-block;
    width: 15%;
    height: 45px;
    margin-top: 0px;
}

.iconperson {
    width: 26px;
    height: 26px;
    object-fit: contain;
    margin-top: 10px;
}

.dropdown.J_header_1 {
    position: absolute;
    right: 5px;
    top: 40px;
}

.open>.dropdown-menu {
    display: block;
	background: black;
	padding: 10px;
	padding-bottom:10px;
}


.dropdown-menu>li>a {
     padding: 7px!important;
     color: #fff!important;
 }
.dropdown-menu>li>a:hover {
    background:#ddd!important;
    color: #fff!important;
}
.namecard-dropdown>li>a {
    color: #000!important;
}
.dropdown-menu>li>a:hover {
    background:#ddd!important;
    color: #000!important;
}
.d_li {
	height:40px;
	margin-bottom:15px;
    border-bottom: 1px solid #444;
}
.iconedit
{
	width: 22px;
  height: 22px;
  margin-left:10px;
  object-fit: contain;
}

#star #middle .tab-content .tab-pane#profile .box-body .inner .utils .right .check-item .input ~ label:before { background: url(../img/icon_unlock.svg) no-repeat center / contain;  }
#star #middle .tab-content .tab-pane#profile .box-body .inner .utils .right .check-item .input:checked ~ label:before { background-image: url(../img/icon_lock.svg); }
#star #bottom .content-item .desc-wrap .title .text {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin: 10px;
	margin-top: auto;
    margin-bottom: auto;

}
#star #bottom .content-item .wrap .title .text {
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    margin: 10px;
    margin-top: auto;
    margin-bottom: auto;

}
#star #bottom .content-item .desc-wrap .title {
    background-color: #ffffff;
}

#star #bottom .content-item .media-wrap .media-inner {
    max-height: 1000px;
    overflow-y: scroll;
    min-height: 200px;
    border-top: 0px solid #7f7f7f;
    border-bottom: 0px solid #7f7f7f;
    padding: 0px 0px 0px;
    font-size: 10px;
    text-align: center;
}
#star #bottom .content-item .desc-wrap .title {
    height: 70px;
}
#star #bottom .content-item .media-wrap .media-inner::-webkit-scrollbar {
    width: 3px;
}
#star #bottom .content-item .utils a {
	color:#222;
	font-size:16px;
	margin-right: 13px;
}
.utils-index a {
    color:#222;
    font-size:18px;
    margin-right: 10px;
}
#star #bottom .content-item .utils{
    position: absolute;
    right: 40px;
    bottom: 17px;
}
.utils-index{
    position: absolute;
    right: 10px;
}
#star #bottom .content-item .utils a:last-child {
    margin-right: 12px;
}

#star #bottom .content-item {
    margin-bottom: 20px;
    box-shadow: 2px 3px 3px 1px #eee;
    border: 1px solid #ccc;
}

.media-tit a {
    color: #001aff;
    font-size: 16px;
    font-weight: 400;
}
#star #bottom .content-item .info-wrap>div {
    padding: 15px;
}

#star #bottom .content-item .info-wrap .in-box .like-count {
    margin: 5px;
    font-size: 18px;
    font-weight: 600;
}
.content-item .desc-text {
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
}

.desc-inner-content.show_content
{
	height: auto;
}
.desc-inner-content
{
	height: 55px;
    overflow: hidden;
}


.open>.dropdown-menu.comunity
{
	background:white;
	color:black;
	padding: 10px;
	border: 1px solid;
}

.dropdown-menu.comunity>li>a {
    padding: 10px!important;
    color: #000!important;
    padding-left: 5px!important;
}
#star #bottom .content-item .date {
    font-size: 14px;
    color: rgb(153, 153, 153);
    display: block;
}
#star #bottom .content-item .user-name {
    display: block;
    margin-top: 0px;
    font-size: 16px;
    font-weight: 700;
    color: #000000;
}
#star #bottom .content-item .user-item {
    position: relative;
    display: flex;
    padding: 4px;
    border: none;
    border-bottom: 1px solid #dddddd;
    padding-top: 12px;
    padding-bottom: 12px;
}


#star #middle .tab-content .tab-pane .box-body .search-box {
    padding: 10px 15px;
    background-color: #ffffff;
}


#star #middle .tab-content .tab-pane .contact-list .list-item .item-wrap .info .upper .name {
    display: inline-block;
    line-height: 18px;
    font-size: 16px;
    font-weight: bold;
    vertical-align: middle;
}

#star #middle .tab-content .tab-pane .contact-list .list-item .item-wrap .info .upper .company {
    display: inline-block;
    margin-left: 10px;
    font-size: 12px;
    line-height: 18px;
    vertical-align: middle;
}
#star #middle .tab-content .tab-pane#friends .contact-list .list-item .item-wrap .info .downer {
    font-weight: bold;
    color: #7abd31;
    font-size: 14px;
}
#star #middle .tab-content .tab-pane .box-body .search-box .left .buttons .button {
    float: left;
    display: block;
    width: 24px;
    height: 24px;
    margin-right: 5px;
    background-color: #bababa;
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    padding: 3px;
}

#star #middle .tab-content .tab-pane .box-body .search-box .left .selects {
    float: left;
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    line-height: 26px;
    margin-left: 20px;
}
.J_search
{
    border: 1px solid #eee;
    padding: 2px;
    margin: 8px;
    margin-left: 16px;
    margin-right: 16px;
    border-radius: 7px;
    background: #f9f9f9;
    padding-top:5px;
    padding-bottom:5px;
}
label.css-label.cb0 {
background-image: url(../img/check_green.png);
    background-size: 20px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
input[type=checkbox].css-checkbox + label.css-label.cb0 {
    padding-left: 25px;
    height: 20px;
    display: inline-block;
    line-height: 23px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 13px;
    vertical-align: middle;
    cursor: pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label.cb0 {
    background-position: 0 -20px;
}
input[type=checkbox].css-checkbox {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

input[type=checkbox].css-checkbox {
    display: none;
}



#star #middle .tab-content .tab-pane .contact-list .list-item .item-wrap .check .input ~ label:before {
    border: 0px solid #bfbfbf;
}

#star #middle .tab-content .tab-pane .contact-list .list-item .item-wrap .check .input ~ label {
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
}


.close {
    opacity: 2!important;
}
.sns_icon{
    width:100%;
}

.sns_icon_div{
}

.sns_item
{
    width:20%;
    display: inline-block;
    margin:5px;
    margin-top:25px;
}
.sns_item_text
{
    font-size:12px;
    font-weight:bold;
    text-align: center;
}
.center_text
{
    text-align: center;
}
.login_bold{
    font-weight: 900;
    font-size:15px;
    color:#000;
    margin-bottom:14px;
}
.login_text{
    font-size:12px;
    font-weight: 900;
}
.login_setup_app {
    color: rgb(89 145 28);
    text-decoration: underline;
    font-size: 12px;
    font-weight: 900;
}
.login_signup{
    
    background:rgb(130,199,54);
    color: white!important;
    padding: 8px 19px!important;
}
.login_login{
    font-weight: 900!important;
    background:#eee;
    color: #000;
    padding: 8px 19px!important;
}


#star #middle .tab-content .tab-pane .contact-list .list-item .item-wrap .info .downer {
    font-size: 12px;
    color: #777;
    font-weight: 500;
}
#star #middle .tab-content .tab-pane .contact-list .list-item .item-wrap .number .downer {
    font-size: 12px;
    text-align: right;
    font-weight: 700;
    line-height: 23px;
}
#star #middle .tab-content .tab-pane .contact-list .list-item .item-wrap .number .upper {
    text-align: right;
    margin-top:5px;
}
#star #middle .tab-content .tab-pane .contact-list .list-item .item-wrap .number .upper a{
    color:black;
}
.arrow a{
    border:none!important;
}
#star #middle .tab-content .tab-pane .contact-list .list-item .item-wrap .check {
    width: 15px;
    padding-left: 20px;
}
.share_count {
    font-size: 14px!important;
    position: absolute;
    top: 54px;
    margin-left: 7px;
    background: #ff3333;
    border-radius: 50%!important;
    padding: 3px 7px!important;
}
.westory_dropdown{
    margin-top: 7px;
    height: 35px;
}
.panel-group,.mall-group{
    display: block;
    margin-bottom: 0px;
}
.panel-group.scrolled,.mall-group.scrolled {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%); 
    display: none;
}
.panel-group.scrolled.sleep .panel-group.scrolled.awake,.mall-group.scrolled.sleep .mall-group.scrolled.awake {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}
.panel-group.scrolled.awake,.mall-group.scrolled.awake {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    display: block;
}
.panel-group.scrolled.sleep,.mall-group.scrolled.sleep {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    display: none;
}